<section class="view intro-2 h-100 "  >
    <div class="mask rgba-stylish-strong">
        <div class="row d-flex flex-center ">
            <div class="col-xs-8 col-sm-8 col-md-4 ">
                <mdb-card class="wow fadeInUp" data-wow-delay="0.6s">
                        <i class="fas fa-times equis_modal_restaurar fa-lg" routerLink="/"></i>
                        <!--Card image-->
                        
                        <!--Card content-->
                        <mdb-card-body class="mascara px-4">
                        
                            <!--Title-->
                            <mdb-card-title>
                            <p class="text-center m-3"><i  class="fas fa-lock cursor ml-1 mr-2 fa-4x color_verde2_um wow rotateIn " data-wow-delay="1s" aria-hidden="true"></i></p>
                            <h4 class="text-center mb-3 color_verde2_um">Restaurar contraseña</h4>
                            <hr class="mb-0">
                            </mdb-card-title>
                        
                            <!--Text-->
                            <mdb-card-text class="mt-3"> Ingresa la nueva acontraseña que será asociada a tu cuenta.
                            </mdb-card-text>
                        
                            <form [formGroup]="formRestaurar">
                                    <div class="md-form ">
                                      <i class="fas fa-lock prefix" [ngClass]="{icon_valid:formRestaurar.controls['contrasena'].valid && formRestaurar.controls['contrasena'].touched,icon_invalid:formRestaurar.controls['contrasena'].invalid && formRestaurar.controls['contrasena'].touched }"></i>
                                      <input [type]="ver_pass?'text':'password'" class="form-control" id="contrasena" mdbInput mdbValidate formControlName="contrasena">
                                      <i class="fas  pointer input_icon_right" [ngClass]="ver_pass?'fa-eye':'fa-eye-slash'" (click)="fn_verPass()" ></i> 

                                      <label  for="contrasena" >Contraseña</label>
                                      <mdb-error *ngIf="formRestaurar.controls['contrasena'].invalid && (formRestaurar.controls['contrasena'].dirty || formRestaurar.controls['contrasena'].touched)">Las contraseña no coinciden</mdb-error>
                                     <!-- <mdb-success *ngIf="formRestaurar.controls['contrasena'].valid && (formRestaurar.controls['contrasena'].dirty || formRestaurar.controls['contrasena'].touched)">Contraseña válida</mdb-success>-->
                                    </div>
                                    <div class="md-form ">
                                            <i class="fas fa-lock prefix " [ngClass]="{icon_valid:formRestaurar.controls['contrasena'].valid && formRestaurar.controls['contrasena'].touched,icon_invalid:formRestaurar.controls['contrasena'].invalid && formRestaurar.controls['contrasena'].touched }"></i>
                                            <input [type]="ver_pass?'text':'password'" class="form-control" id="confirmar_contrasena" mdbInput mdbValidate formControlName="confirmar_contrasena">
                                            <i class="fas  pointer input_icon_right" [ngClass]="ver_pass?'fa-eye':'fa-eye-slash'" (click)="fn_verPass()" ></i> 
                                            <label  for="confirmar_contrasena" >Confirmar contraseña</label>
                                            <mdb-error *ngIf="formRestaurar.controls['confirmar_contrasena'].invalid && (formRestaurar.controls['confirmar_contrasena'].dirty || formRestaurar.controls['confirmar_contrasena'].touched)">Las contraseña no coinciden</mdb-error>
                                            <!--<mdb-success *ngIf="formRestaurar.controls['confirmar_contrasena'].valid && (formRestaurar.controls['confirmar_contrasena'].dirty || formRestaurar.controls['confirmar_contrasena'].touched)">Contraseña válida</mdb-success>-->
                                    </div>
                                    <hr class="mb-0">
                                    <div class="text-center mt-4">
                                        <button class="btn degradado-um btn-lg z-depth-1a waves-light" mdbWavesEffect (click)="fn_submitFormNewPass(formRestaurar)">Resetear<i class="fas fa-check ml-2"></i></button>
                                    </div>

                                </form>
                            

                        </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
</section>

