<div class="col-lg-12">
  <h3>{{page_title}}</h3>
  <hr />


  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>Titulo</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let topic of Topics">
        <td>{{topic.titulo}}</td>
        <td>{{topic.fecha | amLocale: 'es' | amDateFormat:'LL'}}</td>
        <td>
          <a [routerLink]="['/panel/editar', topic._id]" class="btn btn-sm btn-warning mr-2">Editar</a>
          <button type="button" class="btn btn-sm btn-danger" (click)="fn_AdvertenciaElimProceso(topic._id)">
            Borrar
          </button>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>

  </table>
</div>
