@font-face {
    font-family: 'Nunito-Light';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito-Light'), local('Nunito-Light'), url(assets/fonts/nunito-light_2da56b5e2c5ccc3b04135ac8c52aca93.woff) format('woff'), url(assets/fonts/nunito-light_2da56b5e2c5ccc3b04135ac8c52aca93.ttf) format('truetype');
}

.centrado_absolutomodal {
    width: 187vh !important;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
}

.nunito {
    font-family: "Nunito-Light" !important;
}

.inactive {
    opacity: 0.5;
    pointer-events: none;
}

h2,
h1,
h3,
h4 {
    font-family: "Roboto" !important;
    ;
}

.text-underline {
    text-decoration: underline !important;
}

p,
span,
div,
input {
    font-family: "Nunito-Light"
}

.view,
.view .mask {
    overflow: hidden;
}

.inherit,
.text-inherit {
    height: inherit !important;
}

.height-auto {
    height: auto !important;
}

.animation-3-s {
    animation-duration: 5s;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.card-text:last-child {
    margin-bottom: 0px !important;
}

.card-text {
    margin-bottom: 0px !important;
}

.no_sombra,
.no_sombra:hover {
    box-shadow: none;
}
.background{
	background-image: url('/assets/img/orugaIcons/background.png') ;
}

.line-height-1 {
    line-height: 1 !important;
}


/*@font-face {
  font-family: Arthur;
  src: url(assets/fonts/Arthur-Regular.otf) format("opentype");
}*/


/*
ocultar menu
*/

.hide_menu #slide-out {
    transform: translateX(-100%) !important;
}

.show_menu #slide-out {
    transform: translateX(0%) !important;
}


/* difusión*/

.difusion .md-form {
    margin-bottom: 0px;
}

.difusion .md-form .validate {
    margin-bottom: 0px !important;
}


/* checkbox bootstrap */

.programas .custom-control-inline {
    margin-right: 5px !important;
}

.programas .custom-control-label {
    font-size: 15px;
}


/**maestria */

.programas_badge.badge-default {
    background-color: #323940 !important;
}


/**doctorado */

.programas_badge.badge-primary {
    background-color: #9EB5CB !important;
}


/**especialización */

.programas_badge.badge-info {
    background-color: #787480 !important;
}


/**posdoctoral */

.programas_badge.badge-warning {
    background-color: #B4AEBF !important;
}


/**tecnico */

.programas_pregrado_badge.badge-default {
    background-color: #323940 !important;
}


/**profesional */

.programas_pregrado_badge.badge-primary {
    background-color: #9EB5CB !important;
}


/**tecnologia */

.programas_pregrado_badge.badge-info {
    background-color: #787480 !important;
}

.mateo {
    color: white
}

.maestria .custom-control-input:checked~.custom-control-label::before {
    border-color: #323940 !important;
    background-color: #323940 !important;
}

.especializacion .custom-control-input:checked~.custom-control-label::before {
    border-color: #787480 !important;
    background-color: #787480 !important;
}

.doctorado .custom-control-input:checked~.custom-control-label::before {
    border-color: #9EB5CB !important;
    background-color: #9EB5CB !important;
}

.posdoctoral .custom-control-input:checked~.custom-control-label::before {
    border-color: #B4AEBF !important;
    background-color: #B4AEBF !important;
}

.tecnico .custom-control-input:checked~.custom-control-label::before {
    border-color: #323940 !important;
    background-color: #323940 !important;
}

.tecnologia .custom-control-input:checked~.custom-control-label::before {
    border-color: #787480 !important;
    background-color: #787480 !important;
}

.profesional .custom-control-input:checked~.custom-control-label::before {
    border-color: #9EB5CB !important;
    background-color: #9EB5CB !important;
}

.general .custom-control-input:checked~.custom-control-label::before {
    border-color: rgba(117, 43, 167, 1) !important;
    background-color: rgba(117, 43, 167, 1) !important;
}


/*Badges secciones*/

.badge_programa {
    background-color: #87a793 !important;
    color: #fff !important;
}

.badge_calendario {
    background-color: #8d6e6e !important;
    color: #fff !important;
}

.badge_beca {
    background-color: #699497 !important;
    color: #fff !important;
}

.badge_dependencia {
    background-color: #566579 !important;
    color: #fff !important;
}

.badge_diplomado {
    background-color: #4f4b75 !important;
    color: #fff !important;
}

.badge_proceso {
    background-color: #6d5780 !important;
    color: #fff !important;
}

.badge_servicio {
    background-color: #15272e !important;
    color: #fff !important;
}

.badge_institucion {
    background-color: #764977 !important;
    color: #fff !important;
}

.badge_evento {
    background-color: #865b5b !important;
    color: #fff !important;
}

.badge_cuentasBanc {
    background-color: #a1a1a1 !important;
    color: #fff !important;
}

.badge_directorio {
    background-color: #6c3bd7 !important;
    color: #fff !important;
}


/*Fin Badges secciones*/

.check_ciencias_contables .custom-control-input:checked~.custom-control-label::before {
    border-color: rgb(255, 204, 41) !important;
    background-color: rgb(255, 204, 41) !important;
}

.bg_ciencias_contables {
    background: rgb(255, 204, 41);
    //background: linear-gradient(217deg, rgba(255,204,41,1) 0%, rgba(250,188,0,1) 74%, rgba(249,152,0,1) 100%);
}

.color_ciencias_contables {
    color: rgba(249, 152, 0, 1) !important;
}

.bg_oruga {
    background: #25824b;
    box-shadow: 0 2px 5px 0 rgba(37, 130, 75, 0.62), 0 2px 10px 0 rgba(37, 130, 75, 0.62);
    // background: linear-gradient(217deg, rgba(83,203,51,1) 0%, rgba(118,192,78,1) 74%, rgba(99,154,76,1) 100%);
}

.color_ciencias_ingenieria {
    color: rgba(99, 154, 76, 1) !important;
}

.check_ciencias_ingenieria .custom-control-input:checked~.custom-control-label::before {
    border-color: rgba(99, 154, 76, 1) !important;
    //background-color: rgba(99,154,76,1) !important;
}

.bg_ciencias_sociales {
    background: rgb(255, 102, 0);
    //background: linear-gradient(217deg, rgba(255,102,0,1) 0%, rgba(254,143,0,1) 74%, rgba(245,134,52,1) 100%);
}

.color_ciencias_sociales {
    color: rgba(255, 102, 0, 1) !important;
}

.no-events {
    pointer-events: none;
}

.check_ciencias_sociales .custom-control-input:checked~.custom-control-label::before {
    border-color: rgba(255, 102, 0, 1) !important;
    background-color: rgba(255, 102, 0, 1) !important;
}

.bg_ciencias_salud {
    background: rgb(0, 204, 255);
    // background: linear-gradient(217deg, rgba(0,204,255,1) 0%, rgba(9,134,193,1) 74%, rgba(0,152,218,1) 100%);
}

.color_ciencias_salud {
    color: #00ccff !important;
}

.check_ciencias_salud .custom-control-input:checked~.custom-control-label::before {
    border-color: rgba(9, 134, 193, 1) !important;
    background-color: rgba(9, 134, 193, 1) !important;
}

.bg_ciencias_juridicas {
    background: rgb(153, 0, 0);
    //background: linear-gradient(217deg, rgba(153,0,0,1) 0%, rgba(237,4,5,1) 74%, rgba(171,51,53,1) 100%);
}

.color_ciencias_juridicas {
    color: rgba(153, 0, 0, 1) !important;
}

.check_ciencias_juridicas .custom-control-input:checked~.custom-control-label::before {
    border-color: rgba(153, 0, 0, 1) !important;
    background-color: rgba(153, 0, 0, 1) !important;
}

.bg_general {
    background: rgb(123, 8, 138);
    //background: linear-gradient(217deg, rgba(117, 43, 167, 0.562) 0%, rgb(97, 7, 133) 74%, rgb(103, 21, 151) 100%);
}

.color_general {
    color: rgb(123, 8, 138) !important;
}

.check_general .custom-control-input:checked~.custom-control-label::before {
    border-color: rgba(117, 43, 167, 0.562) !important;
    background-color: rgb(97, 7, 133) !important;
}

.check_diplomado .custom-control-input:checked~.custom-control-label::before {
    border-color: #595c5a !important;
    background-color: #595c5a !important;
}

.check_curso .custom-control-input:checked~.custom-control-label::before {
    border-color: #c7c7c9 !important;
    background-color: #c7c7c9 !important;
}

.facultad .custom-control-label {
    font-size: 15px;
}

.check_todos .custom-control-input:checked~.custom-control-label::before {
    border-color: rgb(0, 0, 0) !important;
    background-color: rgb(0, 0, 0) !important;
}

$verde_umanizalesb : #a8cf45;
$verde_umanizales2: #76c04e;
$gris_umanizales_background: #666666;
$gris_claro: #eaeaea;
$gris_oscuro:#343434;
.bordes-gris {
    border: 1px solid $gris-claro;
}

.degradado-um {
    background-image: linear-gradient(120deg, #a8cf45 0%, #76c04e 100%);
}

.um {
    background-color: #76c04e
}

.degradado-rojo {
    background-image: linear-gradient(120deg, #c21212 0%, #FF0000 100%);
}

.texto-gris {
    color: $gris_oscuro !important;
}

.texto-verde {
    color: $verde_umanizales2 !important;
}

.texto-gris-claro {
    color: $gris_claro !important;
}

.color_verde2_um {
    color: $verde_umanizales2 !important;
}

html,
body,
app-root {
    height: 100%;
    font-family: Arthur;
    height: 100%;
    overflow-x: hidden !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

h4 {
    color: $gris_oscuro;
}

.card-text {
    color: #747373;
    font-size: 0.9rem;
    font-weight: 400;
}

.bordes_gris_y {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.borde_gris_t {
    border-top: 1px solid #dcdcdc;
}

.borde_gris_b {
    border-bottom: 1px solid #dcdcdc;
}

.font-weight-500 {
    font-weight: 500 !important
}
.OrugaText {
  font-family: 'Cookie',cursive !important;
  font-size: 25px !important;
  color:white;
  font-weight: $gris_claro !important;
}
.circle {
  width: 55px;
  height: 30px;
  border-radius: 7px;
  font-size: 23px;
  color: #fff;
  line-height: 35px;
  text-align: center;
  background: #25824b;
  __text-shadow: 1px 1px -1px black;
}
/* dropdowns mdboostrap */
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropdown .dropdown-menu.dropdown-primary .dropdown-item:active, .dropdown .dropdown-menu.dropdown-primary .dropdown-item.active, .dropup .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropup .dropdown-menu.dropdown-primary .dropdown-item:active, .dropup .dropdown-menu.dropdown-primary .dropdown-item.active, .dropleft .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropleft .dropdown-menu.dropdown-primary .dropdown-item:active, .dropleft .dropdown-menu.dropdown-primary .dropdown-item.active, .dropright .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropright .dropdown-menu.dropdown-primary .dropdown-item:active, .dropright .dropdown-menu.dropdown-primary .dropdown-item.active {
  background-color: $verde_umanizales2 !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.125rem;
}


/* dropdowns mdboostrap */

.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-primary .dropdown-item.active,
.dropup .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropup .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropup .dropdown-menu.dropdown-primary .dropdown-item.active,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item.active,
.dropright .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropright .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropright .dropdown-menu.dropdown-primary .dropdown-item.active {
    background-color: $verde_umanizales2 !important;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0.125rem;
}


/* Modal */

.modal-dialog.modal-notify.modal-success .modal-header {
    background-image: linear-gradient(120deg, #a8cf45 0%, #76c04e 100%) !important;
}


/*
.programa .flip-container{
  max-height: 295px; 
  height: 295px;
  overflow:auto;
}*/

.maestria .form-check-input[type="checkbox"]:checked+label:before,
.maestria label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #323940;
    border-bottom: 2px solid #323940;
}

.especializacion .form-check-input[type="checkbox"]:checked+label:before,
.especializacion label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #787480;
    border-bottom: 2px solid #787480;
}

.doctorado .form-check-input[type="checkbox"]:checked+label:before,
.doctorado label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #9EB5CB;
    border-bottom: 2px solid #9EB5CB;
}

.posdoctoral .form-check-input[type="checkbox"]:checked+label:before,
.posdoctoral label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #B4AEBF;
    border-bottom: 2px solid #B4AEBF;
}

.tecnico .form-check-input[type="checkbox"]:checked+label:before,
.tecnico label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #323940;
    border-bottom: 2px solid #323940;
}

.tecnologia .form-check-input[type="checkbox"]:checked+label:before,
.tecnologia label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #787480;
    border-bottom: 2px solid #787480;
}

.profesional .form-check-input[type="checkbox"]:checked+label:before,
.profesional label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #9EB5CB;
    border-bottom: 2px solid #9EB5CB;
}

.ofertado .form-check-input[type="checkbox"]:checked+label:before,
.ofertados label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #ee96d4cb;
    border-bottom: 2px solid #d178cd;
}

.ofertado .custom-control-input:checked~.custom-control-label::before {
    border-color: #3f160c !important;
    background-color: #682a1a !important;
}

.no-ofertado .custom-control-input:checked~.custom-control-label::before {
    border-color: #413029 !important;
    background-color: #4b3631 !important;
}

//Diplomados
.ingenieria .form-check-input[type="checkbox"]:checked+label:before,
.ingenieria label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #2bbbad;
    border-bottom: 2px solid #2bbbad;
}

.salud .form-check-input[type="checkbox"]:checked+label:before,
.salud label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #33b5e5;
    border-bottom: 2px solid #33b5e5;
}

.juridicas .form-check-input[type="checkbox"]:checked+label:before,
.juridicas label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #4285f4;
    border-bottom: 2px solid #4285f4;
}

.sociales .form-check-input[type="checkbox"]:checked+label:before,
.sociales label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #a6c;
    border-bottom: 2px solid #a6c;
}

.contables .form-check-input[type="checkbox"]:checked+label:before,
.contables label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid rgb(139, 204, 102);
    border-bottom: 2px solid rgb(139, 204, 102);
}

.form-check-input[type="radio"]:checked+label:after,
.form-check-input[type="radio"].with-gap:checked+label:before,
.form-check-input[type="radio"].with-gap:checked+label:after,
label.btn input[type="radio"]:checked+label:after,
label.btn input[type="radio"].with-gap:checked+label:before,
label.btn input[type="radio"].with-gap:checked+label:after {
    border: 2px solid $gris_oscuro;
}

.programa .flip-container.card-wrapper {
    max-height: 295px;
    height: 295px;
}

.stepper_restaurar .card-body {
    width: 400px;
    __height: 352px;
}

ul.stepper.horizontal {
    height: 352 !important;
}

ul.stepper {
    height: auto !important;
}

.input_icon_right {
    position: absolute;
    right: 0px;
    top: 8px;
}

//COLOR CAMPOS FORMULARIOS
.icon_valid {
    color: #76c04e !important;
}

.icon_invalid {
    color: #f44336 !important;
}

.form-check-input[type="radio"]:checked+label:after,
.form-check-input[type="radio"].with-gap:checked+label:after,
label.btn input[type="radio"]:checked+label:after,
label.btn input[type="radio"].with-gap:checked+label:after {
    background-color: #76c04e;
}

input.form-control.validate-success.ng-valid.ng-dirty,
input.form-control.validate-success.ng-valid.ng-touched,
.form-submitted input.form-control.validate-success.ng-valid {
    border-bottom: 1px solid #76c04e !important;
    box-shadow: 0 1px 0 0 #76c04e !important;
}

input.form-control.validate-success.ng-valid.ng-dirty+label,
input.form-control.validate-success.ng-valid.ng-touched+label,
.form-submitted input.form-control.validate-success.ng-valid+label {
    color: #76c04e !important;
}

//tarjeta-curso
mdb-card.tarjetas-cursos>div {
    height: 278px;
}


/*
body{
  
  background-image: url("./assets/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}*/

.mascara {
    background: url('./assets/img/mascara_seccion.png') right top repeat-x #f4f4f4;
}

hr {
    /*border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(81, 208, 85), rgba(0, 0, 0, 0));*/
}

.intro-2 {
    background: url("./assets/img/background.jpg") no-repeat center center;
    background-size: cover;
}

.bg_landing {
    background: url("./assets/img/background_landing.png") no-repeat center center;
    background-size: cover;
    height: 56%;
    __border-bottom: 2px solid #a8cf45;
    /* -webkit-box-shadow: inset 0px -22px 18px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px -22px 18px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px -22px 18px 0px rgba(0,0,0,0.3);*/
}

.bg_landing_bottom {
    background: url("./assets/img/background.jpg") no-repeat center center;
    background-size: cover;
    height: 33%;
    /*
    background-repeat: no-repeat;
    background-size: 100% 100%;
  */
}

.centrado_absoluto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cursor {
    cursor: auto !important;
}

.pointer {
    cursor: pointer !important;
}

.equis_input {
    position: absolute;
    right: 20px;
    bottom: 12px;
    cursor: pointer;
    color: #696969 !important;
}

.w-80 {
    width: 80%;
}

.bg-image {
    height: 89vh;
    position: fixed;
    /* The image used */
    background-image: url("./assets/img/background.jpg");
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    __height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vh-42 {
    height: 42vh;
}

.vh-70 {
    height: 70vh;
}

.fondo_gris_oscuro {
    background-color: $gris_oscuro !important;
}

.logo {
    width: 86px;
}

.fa,
.fas,
.far {
    cursor: pointer;
    color: $gris_oscuro;
}

.fa:hover,
.fas:hover,
.far:hover {
    opacity: 0.8;
}

.fa.cursor:hover,
.fas.cursor:hover,
.far.cursor:hover {
    opacity: 1;
}

.md-form .prefix.active {
    color: $gris_oscuro;
}

.carousel-multi-item .controls-top .btn-floating {
    display: none !important;
}

.carousel-multi-item .carousel-indicators li {
    height: 1.25rem;
    width: 1.25rem;
    max-width: 1.25rem;
    background-color: #25824b;
    margin-bottom: -3.75rem;
}

.carousel-multi-item .carousel-indicators .active {
    height: 1.56rem;
    width: 1.56rem;
    max-width: 1.56rem;
    background-color: #25824b;
    border-radius: 50%;
}

.carousel-multi-item .carousel-indicators {
    margin-bottom: 0em;
}

.color-oruga{
    color:#25824b !important;
}
mdb-card-img img.img-fluid, mdb-card-img .modal-dialog.cascading-modal.modal-avatar img.modal-header, .modal-dialog.cascading-modal.modal-avatar mdb-card-img img.modal-header, mdb-card-img .comments-list img, .comments-list mdb-card-img img, mdb-card-img .reply-form img, .reply-form mdb-card-img img {
    width: 100%;
    height: 260px;
}
.top_bar{
  __background: #a8cf45;
  __box-shadow: none;
  border-bottom: 3px solid #25824b;
  background-color: white;
  z-index: 100;
  height: 56px;
}

.texto-pequeno {
    font-size: 0.8rem !important;
}

.container_search {
    transform: translate(100%, 0);
    transition: all 0.6s ease;
    position: fixed;
    top: 0px;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 99999999999999 !important;
    width: calc(100% - 240px);
    right: 0px;
}

.hide_container_search {
    transform: translate(0%, 0);
}

.searchtop {
    transition: all 0.6s ease;
    width: 200px;
}

.search_top_focus {
    width: 300px;
}

.close_icon {
    position: absolute;
    right: 16px;
    top: 13px;
    background: white;
    border-radius: 50%;
}

.side-nav a:hover {
    opacity: 0.8;
}


/* raya en el sidebar*/

@media (max-height: 992px) {
    .side-nav .logo-wrapper {
        height: 90px;
    }
}

.side-nav {
    position: fixed;
    width: 19rem;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    padding-bottom: 3.75rem;
    background-color: #eaeaea;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1040;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    will-change: transform;
    backface-visibility: hidden;
    list-style-type: none;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/* Para eventos */

.mydp.picker {
    width: 76% !important;
}

.timepicker {
    height: auto !important;
    margin-left: 40px !important;
    width: 75%;
}

.tp .md-form {
    margin-bottom: 0px !important;
}

.mydp-date {
    margin-bottom: 0px !important;
}

.picker__frame.picker__box {
    height: 84% !important;
    max-height: 84% !important;
}

.centrado_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo_blanco {
    background: white;
}

.badge {
    font-size: 12px;
    font-weight: 400;
    box-shadow: none;
}

.fondo_footer {
    __background-color: hsla(0, 0%, 96%, .81);
    __background-color: hsla(0, 0%, 96%, .81);
    color: $gris_oscuro;
    box-shadow: inset 0 1px 24px 0 rgba(0, 0, 0, .07);
}

.footer-copyright {
    __background-color: $gris_oscuro !important;
    background: #ffffff;
    color: #25824b !important;
    __color: $gris_oscuro !important;
}

.background_bola_verde {
    color: $verde_umanizales2;
}

.background_bola_gris {
    color: #9B9F9F;
}

.background_bola_roja {
    color: #F07555;
}

.background_bola_amarilla {
    color: #FBD869;
}

.texto_filters {
    position: absolute;
    top: -57px;
    right: 8%;
}

app-root {
    min-height: 100%;
    display: block;
    position: relative;
}


footer {
    padding-top: 12px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.navbar.navbar-expand-lg links,
.navbar.navbar-expand-lg navlinks {
    display: flex;
    flex-direction: row;
    align-items: center!important;
    align-self: center!important;
    width: 100%;
    margin-left: 100px;
}

.color_blanco {
    color: white !important;
}


/* Buttons*/

.button_umanizales {
    background: white;
    border: 1px solid #008744;
    border-radius: 5px;
    color: #4AA349;
    font-weight: 500;
    text-transform: none;
    font-size: 15px;
    box-shadow: none;
    padding: 10px 16px;
}

.button_umanizales:hover {
    opacity: 0.8;
    box-shadow: none;
}

.icon_button {
    font-size: 18px !important;
}

.icon_equis {
    font-size: 16px;
    cursor: pointer !important;
    padding: 4px;
    color: #F07555;
    font-size: 20px;
}

.eye {
    float: right;
    font-size: 20px;
    cursor: pointer;
    padding: 4px;
}


/*Formularios*/

.input-group.md-form.form-sm.form-1 input {
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}


/* Select */

.select {
    height: 44px;
}

div.buscar {
    width: auto;
    margin-left: auto !important;
    height: 44px;
}

.classic-tabs .nav li a.active {
    border-bottom: 3px solid;
    color: $gris_oscuro;
}

.pagination.pg-blue .page-item.active .page-link {
    background-color: $verde_umanizales2;
}


/* table */

.table thead th {
    border-bottom: 1px solid #dee2e6;
    font-weight: 500;
    font-size: 16px;
}

.table td {
    font-weight: 600;
}

.registros {
    font-size: 20px;
    font-weight: 500;
}

table,
td,
th {
    text-align: center;
}

.modal-header {
    font-weight: bold !important;
    color: white;
}

.modal-dialog {
    overflow-y: initial !important;
}

.modal-body {
    overflow-y: auto;
}

.sombra {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.bola_verde_radio:after {
    background: linear-gradient(40deg, #56ab2f, #a8e063) !important;
    ;
    border: 2px solid #5a5a5a !important;
}

.scrollbar-gris::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-gris::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #555;
}

.thin::-webkit-scrollbar {
    width: 6px;
}


/* Preloader */

$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;
// scaling... any units
$width: 100px;
.show_preloader {
    display: block;
}

.hide_preloader {
    display: none;
}

#preloader .loader1 {
    position: relative;
    margin: 0 auto;
    width: $width;
    &:before {
        content: '';
        display: block;
        padding-top: 100%;
    }
}

#preloader .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#preloader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: $red;
    }
    40% {
        stroke: $blue;
    }
    66% {
        stroke: $green;
    }
    80%,
    90% {
        stroke: $yellow;
    }
}

// demo-specific
#preloader .showbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999999999 !important
}

#preloader .cargando {
    padding-left: 13%;
    padding-top: 13%;
    color: #ffffff;
    font-weight: bold;
    z-index: 9999 !important;
}

//Modificación al estilo default de los Checkbox
.form-check-input[type="checkbox"]+label {
    padding-left: 25px;
}

.custom-control-inline {
    margin-right: 1.2rem;
}

.form-check-input[type="checkbox"]:checked+label:before,
label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid $verde_umanizales2;
    border-bottom: 2px solid $verde_umanizales2;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: $verde_umanizales2 !important;
    background-color: $verde_umanizales2 !important;
}

//fondo-negro-checkbox
.fondo-negro-check .custom-control-input:checked~.custom-control-label::before {
    border-color: #000000 !important;
    background-color: #000000 !important;
}

//icon-colors
.verde-fondo.fas {
    color: $verde_umanizales2 !important;
}

.beca-icon.fas {
    margin-right: 1rem;
}

.beca-icon.fas.verde {
    color: rgb(83, 203, 51);
}

.beca-icon.fas.naranja {
    color: rgb(255, 102, 0);
}

.beca-icon.fas.rojo {
    color: rgb(153, 0, 0);
}

.beca-icon.fas.amarillo {
    color: rgb(255, 204, 41);
}

.beca-icon.fas.azul {
    color: rgba(9, 134, 193, 1);
}

.beca-icon.fas.gris {
    color: rgb(59, 46, 46);
}

//Fixed button para ñadir en diferentes componentes
.add-btn-global {
    top: 4rem;
    right: 1rem;
    /*rocesos*/
}

.procesos-acortion .fas.fa-angle-down {
    position: absolute;
    right: 24px;
    top: 16px;
}


/*dependencia*/

.acordion_dependencia .card-header {
    margin: 0px !important;
    padding: 0px !important;
    font-size: 14px;
}

.vertical-align-top {
    vertical-align: top;
}


/*
.acordion_dependencia .is-collapsed .fas.fa-angle-down{
  position: absolute;
  top: 30%;
  right: 7px;
}
.acordion_dependencia .active .fas.fa-angle-down{
  position: absolute;
  top: 38%;
  right: 7px;
}*/

.acordion_dependencia mdb-accordion-item-head {
    height: 65px;
}

.acordion_dependencia .is-collapsed .fas.fa-angle-down {
    transform: translate(-3px, -242%) rotate(180deg) !important;
}

.acordion_dependencia .active .fas.fa-angle-down {
    transform: translate(-3px, -242%) rotate(0deg) !important;
}


/*.acordion_dependencia .active .fas.fa-angle-down{
  position: absolute;
  top: 38%;
  right: 7px;
}*/

.sync-calendar,
.fa-sync-alt:before {
    opacity: 0.5;
}

.acordion_dependencia .accordion .card .card-body {
    padding-top: 5px;
}

.acordion_dependencia .card-body {
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

.card_seleccionada div.card {
    background: #ececec;
}

.md-form input[type=text]:focus:not([readonly]),
.md-form input[type=password]:focus:not([readonly]),
.md-form input[type=email]:focus:not([readonly]),
.md-form input[type=url]:focus:not([readonly]),
.md-form input[type=time]:focus:not([readonly]),
.md-form input[type=date]:focus:not([readonly]),
.md-form input[type=datetime-local]:focus:not([readonly]),
.md-form input[type=tel]:focus:not([readonly]),
.md-form input[type=number]:focus:not([readonly]),
.md-form input[type=search-md]:focus:not([readonly]),
.md-form input[type=search]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 #76c04e;
    border-bottom: 1px solid #76c04e;
}

.md-form input[type=text]:focus:not([readonly])+label,
.md-form input[type=password]:focus:not([readonly])+label,
.md-form input[type=email]:focus:not([readonly])+label,
.md-form input[type=url]:focus:not([readonly])+label,
.md-form input[type=time]:focus:not([readonly])+label,
.md-form input[type=date]:focus:not([readonly])+label,
.md-form input[type=datetime-local]:focus:not([readonly])+label,
.md-form input[type=tel]:focus:not([readonly])+label,
.md-form input[type=number]:focus:not([readonly])+label,
.md-form input[type=search-md]:focus:not([readonly])+label,
.md-form input[type=search]:focus:not([readonly])+label,
.md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #76c04e;
}


/*
institucion

*/

.borde_radius_18,
mdb-card.borde_radius_18 .card {
    border-radius: 16px;
}

.classic-tabs .nav li a {
    font-weight: bold;
}

.classic-tabs .nav li a:not(.active) {
    color: white;
}

.classic-tabs {
    white-space: normal;
    background: #25824b;
}

mdb-card.institucion_programas .card {
    background: url('./assets/img/mascara_seccion.png') right top repeat-x #f4f4f4 !important;
}

.hover_icon {
    transition: all 0.6s ease;
}

.hover_icon:hover {
    transform: scale(1.4);
}

.hover_calen {
    transition: all 0.6s ease;
}

.hover_calen:hover {
    transform: scale(1.1);
}

.bg_verdeum {
    background: $verde_umanizalesb;
}

.badge_cuentasBanc {
    background-color: #a1a1a1 !important;
    color: #fff !important;
}

.show_img_brochure {
    bottom: 3rem;
    left: 1rem;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.side-nav .logo-wrapper {
    height: 128px !important;
}

.tamaño-imagen-brochure {
    max-width: 100%;
    max-height: 100%;
}

.tam-brochure {
    height: 85vh;
}

.cardcustom {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    font-weight: 400;
}

.stretch-space-between {
    place-content: stretch space-between;
}

.no-ofertados {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.6;
}

.wrap {
    width: 100%;
    height: 188px;
    position: absolute;
    top: -8px;
    left: 8px;
    overflow: hidden;
  }
  .wrap:before, .wrap:after {
    content: ""; 
    position: absolute;
  }
  .wrap:before {
    width: 40px;
    height: 8px;
    right: 100px;
    background: #4D6530;
    border-radius: 8px 8px 0px 0px;
  }
  .wrap:after {
    width: 8px;
    height: 40px;
    right: 0px;
    top: 100px;
    background: rgb(73, 1, 1);
    border-radius: 0px 8px 8px 0px;
  }
  .ribbon6 {
    width: 200px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 30px;
    right: -50px;
    z-index: 2;
    overflow: hidden;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px dashed;
    box-shadow: 0 0 0 3px #d0636d, 0px 21px 5px -18px rgba(136, 0, 0, 0.6);
    background: #ff3547;
    text-align: center;
  }
  .ribbon {
    width: 48%;
    height: 188px;
    position: relative;
    float: left;
    margin-bottom: 30px;
    background-size: cover;
    text-transform: uppercase;
    color: white;
  }
  .ribbon:nth-child(even) {
    margin-right: 4%;
  }
  @media (max-width: 500px) {
    .ribbon {
      width: 100%;
    }
    .ribbon:nth-child(even) {
      margin-right: 0%;
    }
  }




  @import url('https://fonts.googleapis.com/css?family=Arimo');
  $coral: #25824b;
  $maroon: #8e2807;
  $title: #493b76;
  
  
  .wrapper {

    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Arimo";
    background-color: #ffffff;
    box-shadow: 2px 4px 3px 0px rgba(0, 0, 0, 0.18);
    border: solid 1px #25824b;

  }
  
  @keyframes slideUp {
      0% {
          -webkit-transform: translateY(100%);
          transform: translateY(100%);
          visibility: visible;
      }
  
      100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
  
      }
  }
  
  .container {
      width: 65%;
      padding: 10% 10%;
  }
  
  h1 {
      align-self: center;
  }
  
  form {
      width: 100%;
  
      >* {
          margin-top: 20px;
      }
  
      input {
        width: 100%;
        min-height: 25px;
        /* border: 0; */
        font-size: 1rem;
        letter-spacing: .15rem;
        font-family: "Arimo";
        margin-top: 5px;
        color: #25824b;
        border-radius: 4px;
        border: solid 1px;
      }
  
      label {
          font-size: 12px;
          letter-spacing: 2px;
          color: $coral;
      }
  
      h1 {
          font-size: 24px;
          line-height: 10px;
          color: $coral;
          letter-spacing: 1px;
      }
  
      h1:nth-of-type(2) {
          margin-top: 10%;
      }
  }
  
  .name {
      justify-content: space-between;
      display: flex;
      width: 100%;
  
      div {
          width: 45%;
      }
  }
  
  .address-info {
      display: flex;
      justify-content: space-between;
  
      div {
          width: 30%;
      }
  }
  
  .cc-info {
      display: flex;
      justify-content: space-between;
  
      div {
          width: 45%;
      }
  }
  
  .btns {
  
      button {
        margin: 3px 0;
        height: 30px;
        color: #ffffff;
        background-color: #25824b;
        border: 0;
        border-radius: .3rem;
        letter-spacing: 2px;
  
          &:hover {
              animation-name: btn-hov;
              animation-duration: 550ms;
              animation-fill-mode: forwards;
          }
      }
  }
  
  @keyframes btn-hov {
      100% {
          background-color: #ffffff;
          color: #25824b;
          border: solid 1px #25824b;
          transform: scale(1.05)
      }
  }
  
  input:focus,
  button:focus {
      outline: none;
  }
  
  @media (max-width: 736px) {
      .wrapper {
          width: 100%;
      }
  
      .container {
          width: 100%;
      }
  
      .btns {
          align-items: center;
  
          button {
              width: 50%;
          }
      }
  
      form h1 {
          text-align: center;
      }
  
      .name,
      .address-info,
      .cc-info {
          flex-direction: column;
          width: 100%;
          justify-content: space-between;
  
          div {
              align-items: center;
              flex-direction: column;
              width: 100%;
              display: flex;
          }
      }
  
      .street,
      .cc-num {
          text-align: center;
      }
  
      input {
          margin: 5px 0;
          min-height: 30px;
      }
  }




.modal-dialog .modal-content {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.18), 0 0px 0px 0 rgba(0, 0, 0, 0.15);
    /* border: 0; */
    /* border-radius: 0.125rem; */
}



/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .classic-tabs .nav li a.active {
    border-bottom: 3px solid;
    color: #94c245;
}